/* CSS Mobile Reset */
html, body
{
 margin: 0;
 padding: 0;
 border: 0;
}

body
{
 font-family:Arial,  sans-serif;
 line-height:1.5;
 font-size:16px;
 background: #fff;
 color: #000;
 word-wrap: break-word;
 -webkit-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6{ font-weight: normal; }

p img { float: left; margin: 0 10px 5px 0; padding: 0; }

img { border: 0; max-width: 100%; }

table { width:auto; border-collapse: collapse;border-spacing: 0; }
/* CSS Mobile Reset End*/

@font-face {
  font-family: 'Open Sans','Microsoft JhengHei', '微軟正黑體',sans-serif, Verdana, Arial, 'Microsoft YaHei' !important;    
}

body{
	font-family: 'Open Sans','Microsoft JhengHei', '微軟正黑體',sans-serif, Verdana, Arial, 'Microsoft YaHei' !important;
	background: #000;
	font-weight: 400;
	font-size: 14px;
}


html,body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.carousel-caption {
  position: absolute;
  left: 15px;
  right:15px;
  bottom: 20px;
  z-index: 100;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  color: black;
  
}







.blackfooter{
  background-color:rgba(50,50,50,0.8);
  width:100%;
  position:absolute;
  bottom: 0px;
  height:20px;
  z-index: 2;
  text-align: center;
  color:white;
}

/**/

div.menu{
  background-color:black;
  position:fixed;
  top:0;
  left:0;
  width:100%;  
  height:110px;
  z-index:5;
}

.trademark{
  
  position:absolute;
  top:0;
  left:0;
  padding-left:30px;
  padding-top:20px;
  width:100%;
  z-index:5;
}

.menubutton{
  font-size:20px;
  font-weight:700;
  position:absolute;
  width:400px;
  right:0;  
  top:35px;
  z-index:5; 
}

a{text-decoration: none;}

.menubutton a:hover{
  text-decoration:underline;
}

.menubutton a{
  color:white;
  margin:10px 10px 10px 10px;}

.line{
  height:2px;
  background-color:white;
  position:relative;
  top:70px;
  }

.subtrademark{
  position:relative;
  top:80px;
  left:0;
  padding-left:30px;
  margin-right:5px;
  
}

.icon{
  position:absolute;
  top:75px;
  right:0;
  padding-right:30px;
  z-index:5;
}

.icon i,.icon a{
  margin:3px;
  color:white;
  font-size:20px;
z-index:5;
}

a h3{
  position:fixed;
  bottom:50px;
  width:100%;
  left:0;
  padding-top:10px;
  padding-bottom:10px;
  color: #000;
  text-decoration: none;
  z-index:5000;
  background-color:rgba(0,200,255,0.6);
    
}





a:hover,
a:focus {
  color: #000;
  text-decoration: underline;
}


@media screen and (min-width: 422px) and (max-width: 730px) {
  .icon{display:none;}
 
  .menubutton{display:none;}
  
  div.menu{
  background-color:black;
  position:fixed;
  top:0;
  left:0;
  width:100%;  
  height:90px;
  z-index:5;
}
  .line{
  height:2px;
  background-color:white;
  position:relative;
  top:60px;
  }
  
  .trademark{position:absolute;
    top:0;
    left:0;
    padding-left:10px;
    padding-top:10px;
    width:100%;
    z-index:5;
  }
  
  .subtrademark{
    position:relative;
    top:70px;
    padding-left:10px;
    margin-right:5px;
  }
    
}

@media screen and (min-width: 310px) and (max-width: 422px) {
  .icon{display:none;}
 
  .menubutton{display:none;}
  
  div.menu{
  background-color:black;
  position:fixed;
  top:0;
  left:0;
  width:100%;  
  height:90px;
  z-index:5;
}
  .line{
  height:2px;
  background-color:white;
  position:relative;
  top:60px;
  }
  
  .trademark{position:absolute;
    top:0;
    left:0;
    padding-left:10px;
    padding-top:10px;
    width:100%;
    z-index:5;
  }
  
  .subtrademark{
    position:relative;
    top:70px;
    padding-left:10px;
    margin-right:5px;
  }
  
  
    
}
